<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About page</title>
</head>
<body>
   <div class="main-content">
        {{>header}}
        <p style="font-weight: bold; color: black; font-size: 38;">This site was created by Diego de Miguel. It consumes data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./images/diego.jpeg" alt="screenshot">
   </div>
    {{>footer}}
</body>
</html>